@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

/* видалення декорацій для всіх посилань на сторінці */
a {
    text-decoration: none;
    display: inline-block;
}
/* стилі загальні для сторінки */
html {
    font-size: 10px;
    background-color: #FFFCFC;
    font-family: 'Rosario', sans-serif;
}
.navbar {
    width: 100%;
}
.header-logo {
    height: 8vh;
}
.nav-link {
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}
.gallery {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}
.gallery__img {
    width: 20%;
    min-width: 20rem;
    position: relative;
}
.gallery__img > img + img {
    margin-top: 2rem;
}
.gallery__img img {
    width: 100%;
}
.left {
    left: -100rem;
}
.left:first-child {
    animation: left 2s linear forwards 2s;
}
.left:nth-child(2){
    animation: left 1s linear forwards;
}
.right {
    right: -100rem;
}
.right:nth-child(3) {
    animation: right 1s linear forwards;

}
.right:nth-child(4){
    animation: right 2s linear forwards 2s;
}
@keyframes left {
    0% {
        left: -100rem;
    }
    20% {
        left: -40rem;
    }
    50% {
        left: -10rem;
    }
    100% {
        left: 0;
    }
}
@keyframes right {
    0% {
        right: -50rem;
    }
    20% {
        right: -20rem;
    }
    50% {
        right: -10rem;
    }
    100% {
        right: 0;
    }
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}
.services-examples {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    animation: cardsRotate 5s  infinite;
}
.services-examples__item {
    min-width: 15rem;
    text-align: center;
    margin: 5%;
    width: 25%;
    animation: cardRotate 5s infinite;
}
@keyframes cardsRotate {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(-90deg);
    }
    50% {
        transform: rotateZ(-180deg);
    }
    75% {
        transform: rotateZ(-270deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}
@keyframes cardRotate {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.services-examples__item-img {
    width: 100%;
    min-width: 15rem;
}
.services-img {
    width: 40%;
    height: 90vh;
}
.services-examples__item-title {
    color: #000000;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    margin: 0;
}
.team {
    height: 90vh;
    text-align: center;
    margin: 0 3rem;
}
.team__title {
    font-weight: 700;
    font-size: 5rem;
}
.team__list-item {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 70vh;
    width: 20%;
    margin: 0;
    text-align: center;
    position: relative;
    box-shadow: none;
    transition: all 1s ease-in-out;
    border-radius: 30px;
}
.team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.team__list-item p {
    transition:all 1s ease-in-out;
    opacity: 0;
    position: absolute;
    color: #FFFAFA;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 4rem;
    background-color: rgba(163, 83, 10, 0.7);
    line-height: 6.1rem;
    padding: 5% 0;
    bottom: -4rem;
    border-radius: 0 0 3rem 3rem;
    font-family: 'Volkhov', serif;
}
.team__list-item:hover p {
    opacity: 1;
}
.team__list:hover .team__list-item {
    filter: brightness(.35);
}
.team__list > .team__list-item:hover{
    filter: brightness(1);
}
.first {
    background-image: url("../images/Meredith.png");
}
.second {
    background-image: url("../images/Jason.png");
}
.third {
    background-image: url("../images/Ryan.png");
}
.fourth {
    background-image: url("../images/James.png");
}
.contact {
    height: 60vh;
    margin: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}
.contact-message {
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
}
.contact-message__title {
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
}
.contact-message__form {
    background-color: #E5E5E5;
    padding: 1.5rem;
    height: 35vh;
    width: 100%;
}
.contact-message__form-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input, .contact-message__form-message {
    border: none;
    margin: 1rem;
    width: 100%;
    color:  rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0.5rem 3rem;
}
.contact-message__form-message {
    height: 20vh;
    width: 89%;
}
.contact-maps iframe {
    height: 50vh;
    width: 30vw;
}
.connect{
    height: 30vh;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-self: center;
    text-align: center;
    margin: 0 3rem;
}
.connect-link__subtitle {
    font-weight: 700;
    font-size: 2rem;
}
.connect-links__link, span, .connect-hours__subtitle, .connect-media__item-link {
    color: black;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
}
.connect-hours__title, .connect-media__title{
    font-weight: 700;
    font-size: 3rem;
}
.connect-media__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 auto;
    width: 10rem;
    text-align: left;
}
.connect-media__item-img {
    width: 3rem;
    height: 3rem;
    padding: 0;
}
@media screen and (min-width:1620px) {
    body {
        margin: 0 4rem;
    }
    .team__list-item p {
        bottom: 0;
        margin: 0;
    }
}
@media screen and (min-width:769px) and (max-width: 993px) {
    body {
        max-width: 993px;
        min-width: 769px;
    }
    .gallery {
        display: grid;
        height: max-content;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
       margin: 4rem 25%;
    }
    .gallery .gallery__img:nth-child(4) {
        order: 2;
    }
    .gallery .gallery__img:nth-child(1) {
        order: 1;
    }
    .gallery .gallery__img:nth-child(2) {
        order: 3;
    }
    .gallery .gallery__img:nth-child(3) {
        order: 4;
    }
    
    .right:nth-child(4){
        animation: right 2s linear forwards;
    }
    .left:first-child {
        animation: left 2s linear forwards;
    }
    .services {
        display: grid;
        padding: 0 30%;
    }
    .services-img {
        order: 1;
        margin: 1rem;
        height: 100%;
        width: 100%;
    }
    .services-examples__item {
        min-width: 13rem;
    }
    .services-examples {
        order: 2;
        width: 60vw;
    }
    .team {
        height: max-content;
        padding: 0 20%;
    }
    .team__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0 5%;
    }
    .team__list-item {
        width: 100%;
    }
    .team__list-item p {
        bottom: 0;
        margin: 0;
    }
    .contact {
        height: max-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0;
        gap: 2rem;
        padding: 0 20%;
    }
    .contact-message__form {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contact-message__form-message {
        width: 83%;
    }
    .contact-maps iframe {
        width: 83%;
    }
    .connect {
        height: max-content;
        display: grid;
        margin: 2rem 0;
    }
}
@media screen and (max-width:768px) {
    body {
        max-width: 768px;
    }
    .gallery {
        height: auto;
        display: grid;
        padding:4rem 40%;
        gap: 2rem;
        grid-template-columns: 1fr;
    }
    .gallery .gallery__img:nth-child(1) {
        order: 1;
    }
    .gallery .gallery__img:nth-child(3) {
        order: 2;
    }
    .gallery .gallery__img:nth-child(2) {
        order: 3;
    }
    .gallery .gallery__img:nth-child(4) {
        order: 4;
    }
    .right:nth-child(4){
        animation: right 1s linear forwards;
    }
    .left:first-child {
        animation: left 1s linear forwards;
    }
    .services-img {
        display: none;
    }
    .team {
        height: auto;
    }
    .team__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 3rem 40%;
    }
    .team__list-item {
        background-size: cover;
        width: 30vw;
        height: 85vh;
    }
    .team__list-item p{
        font-size: 2.6rem;
        margin: 0;
        bottom: 0;
    }
    .connect {
        height: max-content;
        display: grid;
        margin: 2rem 0;
    }
    .contact-maps iframe {
        width: 60vw;
        order: 1;
    }
    .contact {
        height: auto;
    }
    .contact-message {
        order: 2;
    }
    .contact-message__form-message {
        height: 10vh;
        width: 50vw;
    }
}