/*імпорт нормалайз-стилів */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
/* загальні стилі для всіх елементів */
/* універстальні стилі */
* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
/* встановлення стандартних розмірів */
html {
    font-size: 10px;
}
body {
    padding: 0;
    margin: 0;
}
/* відміна підкреслювання для посилань і встановлення кольору */
a {
    text-decoration: none;
    color: #ffffff;
}
/* стилі для кнопки повернення вгору */
.button__up svg{
    display: flex;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #202846;
    align-items: center;
    align-self: center;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 50%;
    padding: 0.5rem;
}
/* стилі при наведенні для кнопки підняття вгору */
.button__up:hover {
    background-color: #EF075B;
}
/* стилі контейнеру хедер */
.header {
    background-color: #202846;
    top: 0;
    position: sticky;
    display: flex;
    height: 6rem;
    margin: 0;
    font-weight: 700;
    z-index: 1;
    align-items: center;
    align-self: center;
}
/* стилі для логотипу хедеру */
.header__logo img {
    padding-left: 7rem;
    height: 5rem;
    position: static;
}
/* стилі навігації секціїї хедер */
.nav__list {
    list-style: none;
    right: 3rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}
/* стилі елементів списку навігаціїї секції хедер */
.list__item {
    margin: 0 2rem;
    font-size: 2.4rem;
}
/* стилі для елементу списку секції хедеру (мови) */
.list__item:nth-child(6) {
    display: flex;
    flex-direction: row;
}
/* стилі свг елементу мови списку секції хедеру */
.list__item:nth-child(6) svg {
    width: 5rem;
}
/* стилі секціїї локаціїї */
.location {
    background-color: #F5F5F5;
}
/* стилі для заголовку секціїї локації */
.location__title {
    background-color: #C6C6DC;
    font-size: 3.6rem;
    color: #202846;
    font-style: italic;
    font-weight: 400;
    padding-left: 15rem;
    margin: 0;
    line-height: 7rem;
}
/* стилі для карток секції локації */
.location__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
/* стилі для заголовку меню карток секції локації */
.content__description {
    font-size: 2.3rem;
    text-align: center;
    border-radius: 1rem;
    font-weight: 400;
    background-color: #E8E8E8;
    line-height: 4rem;
    padding: 0 3rem;
    color: rgba(0, 0, 0, 0.61 );
}
/* стилі додання стрілочки(спецсимвола) для заголовку меню карток секції локації */
.content__description::after {
    content: "\25BC";
    float: right;
    color: #000000;
}
/* стилі контейнеру для картки секціїї локаціїї */
.content__item {
    margin: 2rem 0;
    padding: 2rem 4.5rem;
    background-color: #BDBDC6;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    border-radius: 2rem;
    position: relative;
    transition: all 1s;
}
/* стилі при наведенні для  контейнеру для картки секціїї локаціїї  */
.content__item:hover {
    background-color: #AEABE2;
    box-shadow: 2rem 0rem 2rem rgb(58, 55, 55);
}
/* розміри зображення карток секції локації */
.item__img {
    width: 40%;
}
/* стилі для контейнера опису елементу списку контейнеру секції локації */
.item__description {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}
/* стилі для заголовку елементу списку контейнеру секції локації */
.item__title {
    margin-top: 0;
    font-size: 3.6rem;
    color: #353C57;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    border-bottom: 3px solid #ffffff;
}
/* стилі для опису елементу списку контейнеру секції локації  */
.item__text {
    color: #202846;
    background-color: #D7D7DD;
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    height: 13rem;
    align-items: center;
    align-self: center;
    padding: 2rem 3rem;
    margin-top: 0;
}
/* стилі для кнопки елементу списку контейнеру секції локації */
.item__more {
    position: absolute;
    color: #FFFFFF;
    background-color: #202846;
    right: -2rem;
    font-size: 1.5rem;
    bottom: -1.3rem;
    padding: 1rem 2.5rem;
    transition: all 1s;
    border-radius: 2rem;
}
/* стилі при наведенні на картку контейнер для кнопки елементу списку контейнеру секції локації */
.content__item:hover .item__more {
    background-color: #EF075B;
}
/* стилі для додання в обране списку контейнеру секції локації */
.item__star svg {
    position: absolute;
    top: 1rem;
    width: 3rem;
    fill: #FFFFFF;
    transition: all 1s;
    right: 1rem;
}
/* стилі при наведенні для додання в обране списку контейнеру секції локації  */
.item__star svg:hover {
    fill: #FFFF00;
}